@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');




*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: white;
}


:root{
    --cor01:#0a0a0a ;
    --cor02: #9e100ec7;
    --cor03: #a70c09;
    --cor04: #DD9A98 ;
    --cor05: rgb(15, 15, 15);

    --fontpadrão:'Bebas Neue', sans-serif; 
    --fontdestaque: 'Roboto Condensed', sans-serif;

}

    body{
        font-size:100%;
        background-image: url(02105704740208.webp);

    
    


        
    
    }


    header{
        background-color: var(--cor03);
            font-family: var(--fontpadrão);
            font-size: 27px;
            padding: 1px;
            
            text-align: center;
            box-shadow: 0px -7px 4px 4px rgba(0, 0, 0, 0.651);
    }

    header > h1{
        font-family: var(--fontpadrão);
        color:    
                


    }


    header > p {
        font-family:
        color: rgb(27, 27, 27)
        
    }



            
            
    nav{
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    box-shadow: 0px 3px 0px 0px rgba(8, 8, 8, 0.993);
    background-color: var(--cor05)
    
   
   
}

nav > a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: rgb(248, 247, 247);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}


    nav > p {


    }


    main{

        background-color: 
        
    

    }

    main > article> h1 {
        font-family: var(--fontpadrão);
        font-size: 22px;
        text-align: center;
        box-shadow: 0px 11px 3px 0px black;
        background-color: var(--cor05);
        margin-top: 48px;
    }


    main > article> p {
        font-family: var(--fontdestaque);
        margin: 15px 170px;
        text-align: center;
        text-indent: 30px;
        font-size: 1em;
        line-height: 2em;
        font-weight: bold;
        
       
        
        
    }

    main > article> h2{
        box-shadow: 0px 11px 3px 0px black;
        font-family: var(--fontpadrão);
        font-size: 22px;
        text-align: center;
        background-color: var(--cor05);
        margin-top: 48px;
    }


    main img{
       
     max-width: 150px;
     display: block;
     margin: auto;  
    }
     


    aside > p {

        font-family: var(--fontdestaque);
        text-align: center;
        margin-bottom:100px;
        font-weight: bold;
    
        

    }

    aside h3{
        padding: 10px;
        box-shadow: 0px 11px 3px 0px black;
        font-family: var(--fontpadrão);
        font-size: 22px;
        text-align: left;
        background-color: var(--cor05);
        margin-top:48px;
        margin-bottom: 48px;
    }

    footer{
        font-family: var(--fontpadrão);
        font-size: 15px;
        background-color: black;
        color: white;
        padding: 1px;
        

    }

    .desenvolvido{

        text-transform:right
    }

    footer > p {
       text-align: center;
        margin-top: 10px;
        
        
    }

    


